MyApp.xcodeproj/project.xcworkspace/xcuserdata/orangecloud.xcuserdatad/UserInterfaceState.xcuserstate
MyApp/GoogleService-Info.plist
MyApp.xcodeproj/xcuserdata/orangecloud.xcuserdatad/xcschemes/xcschememanagement.plist
MyApp.xcodeproj/xcuserdata/orangecloud.xcuserdatad/xcschemes/xcschememanagement.plist
